<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @user.stname %>
</p>

<p>
  <strong>Nr.:</strong>
  <%= @user.stnumber %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @user.zipcode %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @user.tel %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
