<p id="notice"><%= notice %></p>

<div class='col-md-3'>
<div class="left_results">
<div class="checkbox"><label><input type="checkbox">Skis</label></div>
<div class="checkbox"><label><input type="checkbox">Boots</label></div>
<div class="checkbox"><label><input type="checkbox">Goggles</label></div>
<div class="checkbox"><label><input type="checkbox">Sticks</label></div>
<div class="checkbox"><label><input type="checkbox">Snowboard</label></div>
</div>
</div>


<div class='col-md-6'>

<table class="results">
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>

    <% @gears.each do |gear| %>
      <tr>
<td style="border-bottom: solid black thin; margin-top: 20px;"><div class="item_img"></div></td>
        <td style="border-bottom: solid black thin; margin-top: 20px;"><h3><%= gear.item %></h3>
        <strong>Gear Description:</strong><br><%= gear.description %><br>
        <strong>Size:</strong><%= gear.size %><br>
        <strong>Brand:</strong><%= gear.brand %><br>
         <strong>Price per day:</strong><%= gear.price %><normal>$</normal><br>
         <div class="checkbox"><label><input type="checkbox"> Rent it!</label></div>



         </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


  </div>

<div class='col-md-3'>
